<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Arthas实验室</title>
    <!-- core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/prettyPhoto.css" rel="stylesheet">
    <link href="__PUBLIC__/css/styles.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js"></script>
    <script src="__PUBLIC__/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="__PUBLIC__/images/ico/bitbug_favicon.ico">
</head>

<body id="home">

<header id="header">
    <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">打开菜单</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="__PUBLIC__/images/logo.png" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="scroll active"><a href="#home">首页</a></li>
                    <li class="scroll"><a href="#features">关于我们</a></li>
                    <li class="scroll"><a href="#services">Arthas服务</a></li>
                    <li class="scroll"><a href="#about">陇大大</a></li>
                    <li class="scroll"><a href="#pricing">项目作品</a></li>
                    <li class="scroll"><a href="#our-team">成员架构</a></li>
                    <li class="scroll"><a href="#contact-us">加入我们</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->

<section id="hero-banner">
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h2> 欢迎进入 <b>Arthas实验室</b> </h2>
                    <p>我们是陇院最具B格，最具实力，最具创新，最擅长技术的有爱团体。<br/>期待更多有志于从事互联网行业的同学加入我们！</p>
                    <a class="btn btn-primary btn-lg" href="#features">了解Arthas</a>

                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->
<section id="features">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Arthas实验室简介</h2>
            <p class="wow fadeInDown" style="font-size: 16px;">2011年6月，Arthas实验室由陇东学院信息中心网络技术部创立<br> 创立之初主要负责协同网络技术部维护学校校园网和软件开发<br/>经过长期运营，实验室有自己独立的工作场所，基本形成一套软件开发和学习体系<br/>历经五年，我们的职责也转变为培养互联网相关，包括技术、运营、设计等多个方面的专业人才<br/>目前，已经有几十名成员从这里毕业，走上工作岗位，月薪普遍在10K以上</p>
        </div>
        <div class="row FeatLayout">
            <div class="col-md-5 Featimg"> <img src="__PUBLIC__/images/features_img.png" alt="feature" class="img-responsive center-block"></div>
            <div class="col-md-7">
                <h2>我们的工作学习条件</h2>
                <p>目前，我们在逸夫楼810室具有独立的实验室一间，数十个独立工位，每位成员提供单独的校园网账号免费使用。同时我们在陇东学院庆阳体育场的大学生创新创业基地拥有办公室一间，供实验室成员使用。</p>
                <ul class="listarrow">
                    <li><i class="fa fa-angle-double-right"></i>技术方向成员优先配备独立电脑一台</li>
                    <li><i class="fa fa-angle-double-right"></i>数年开发经验的指导老师授课解疑</li>
                    <li><i class="fa fa-angle-double-right"></i>Arthas实验室所有资源免费使用</li>
                    <li><i class="fa fa-angle-double-right"></i>实验室内部每周召开经验分享会</li>
                    <li><i class="fa fa-angle-double-right"></i>实验室不定期举行产品演说会</li>
                    <li><i class="fa fa-angle-double-right"></i>实验室正在筹划Arthas校友基金会</li>
                    <li><i class="fa fa-angle-double-right"></i>其资金全部用于实验室内部成员的专业书籍/正版软件/视频教程等资源的购买</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="services" >
    <div class="container">

        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Arthas服务</h2>
            <p class="wow fadeInDown">Arthas实验室为成员提供各项服务<br/>更多服务和福利正在不断完善中</p>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://arthas.ldxy.edu.cn/yun/">Arthas云盘</a></h4>
                            <p>基于GitHub开源项目[树洞外链]二次开发，利用实验室服务器资源，为Arthas成员提供专属定制的云盘功能。</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-chain"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://arthas.ldxy.edu.cn/blog/">Arthas实验室博客</a></h4>
                            <p>基于Emlog博客系统打造的Arthas实验室博客，提供给实验室成员定期分享各类技术文章，交流经验等。</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-comments-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://arthas.ldxy.edu.cn/question/">Arthas疑问解答</a></h4>
                            <p>基于WeCenter二次开发，供实验室内部成员和指导老师之间交流技术类问题。</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->


            </div>
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-book"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Arthas书籍借阅系统</h4>
                            <p>由实验室独立自主开发，由实验室出资或成员提供给类专业书籍时登记借阅的系统。目前正在立项开发中。</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-compass"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Arthas教程分享中心</h4>
                            <p>由实验室独立自主开发，为实验室成员提供各专业方向视频教程、图片文字教程等资源的分享系统。目前正在立项开发中。</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-database"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Arthas实验室在线管理系统</h4>
                            <p>由实验室独立自主开发，为实验室提供成员管理、项目管理、在线打卡、通知通告等功能。</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->


            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->


<section id="about">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title wow fadeInDown" style="color: #fff;">陇大大</h2>
            <p class="wow fadeInDown" style="color: #fff">陇大大<br/>做陇院最有趣的公众号</p>
        </div>

        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="__PUBLIC__/images/about.png" alt="">
            </div>

            <div class="col-sm-6 wow fadeInRight">
                <h3 class="column-title" style="color: #fff">陇大大校园公众号</h3>
                <p style="color: #fff">陇大大校园公众号正在开发中.....</p>
                <br> <br>

                <h3 class="column-title" style="color: #fff">Arthas微信运营团队</h3>
                <p style="color: #fff">Arthas微信运营团队由Arthas实验室成立的独立项目团体，成员来自外国语学院、信息工程学院、能源工程学院、文学院等多个学院多个专业，具备完善的微信运营机制、采编能力以及微信开发能力。其下设编辑组、技术组、推广组等各司其职分工明确。
                <p style="color: #fff">现运营微信公众号陇大大、掌上陇院，关注量和互动人次已多达数百人。其中陇大大是陇东学院首个认证成功的校园微信公众号！</p>




                <a class="btn btn-primary" href="#" >了解更多</a>

            </div>
        </div>
    </div>
</section><!--/#about-->


<section id="portfolio" style="display:none;">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Servers</h2>
            <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
        </div>

        <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">All Works</a></li>
                <li><a href="#" data-filter=".designing">Designing</a></li>
                <li><a href="#" data-filter=".mobile">Mobile App</a></li>
                <li><a href="#" data-filter=".development">Development</a></li>
            </ul><!--/#portfolio-filter-->
        </div>

        <div class="portfolio-items">
            <div class="portfolio-item designing">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="__PUBLIC__/images/portfolio/01.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Project Name</h3>
                        Some description..
                        <a class="preview" href="__PUBLIC__/images/portfolio/01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item mobile development">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="__PUBLIC__/images/portfolio/02.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Project Name</h3>
                        Some description..
                        <a class="preview" href="__PUBLIC__/images/portfolio/02.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item designing">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="__PUBLIC__/images/portfolio/03.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Project Name</h3>
                        Some description..
                        <a class="preview" href="__PUBLIC__/images/portfolio/03.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item mobile">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="__PUBLIC__/images/portfolio/04.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Project Name</h3>
                        Some description..
                        <a class="preview" href="__PUBLIC__/images/portfolio/04.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item designing development">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="__PUBLIC__/images/portfolio/05.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Project Name</h3>
                        Some description..
                        <a class="preview" href="__PUBLIC__/images/portfolio/05.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item mobile">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="__PUBLIC__/images/portfolio/06.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Project Name</h3>
                        Some description..
                        <a class="preview" href="__PUBLIC__/images/portfolio/06.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item designing development">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="__PUBLIC__/images/portfolio/07.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Project Name</h3>
                        Some description..
                        <a class="preview" href="__PUBLIC__/images/portfolio/07.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item mobile">
                <div class="portfolio-item-inner">
                    <img class="img-responsive" src="__PUBLIC__/images/portfolio/08.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Project Name</h3>
                        Some description..
                        <a class="preview" href="__PUBLIC__/images/portfolio/08.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div><!--/.portfolio-item-->
        </div>
    </div><!--/.container-->
</section><!--/#portfolio-->

<section id="pricing">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">项目作品</h2>
            <p class="wow fadeInDown">Arthas实验室对外承接一切能够提升自我、展示自我的开发项目<br>类型不限于APP、网站、微信开发、PC软件等<br/><br/><a class="btn btn-primary" href="#" >更多作品</a></p>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                    <ul class="pricing featured">
                        <li class="plan-header">
                            <img src="__PUBLIC__/images/zp/zp1.jpg" width="240" alt="" class="img1"/>
                        </li>
                        <li><strong>陇东学院校园广播站<br>青春点播平台</strong></li>
                        <li align="left">为积极推进数字化校园的建设与发展，为让陇东学院校园广播站更好的为全校师生提供完善服务，并全面建设校园广播传媒网络化，让更多的人以最便捷的方式参与到校园广播站的线上互动和线下的节目...</li>
                        <li class="plan-purchase"><a class="btn btn-primary" target="_blank" href="javascript:;">正在开发中</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                    <ul class="pricing featured">
                        <li class="plan-header">
                            <img src="__PUBLIC__/images/zp/zp2.jpg" width="240" alt="" class="img1"/>
                        </li>
                        <li><strong>待补充 </strong></li>
                        <li>待补充
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </li>
                        <li class="plan-purchase"><a class="btn btn-primary" target="_blank" href="javascript:;">待补充</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                    <ul class="pricing featured">
                        <li class="plan-header">
                            <img src="__PUBLIC__/images/zp/zp2.jpg" width="240" alt="" class="img1"/>
                        </li>
                        <li><strong>待补充 </strong></li>
                        <li>待补充
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </li>
                        <li class="plan-purchase"><a class="btn btn-primary" target="_blank" href="javascript:;">待补充</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                    <ul class="pricing featured">
                        <li class="plan-header">
                            <img src="__PUBLIC__/images/zp/zp2.jpg" width="240" alt="" class="img1"/>
                        </li>
                        <li><strong>待补充 </strong></li>
                        <li>待补充
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </li>
                        <li class="plan-purchase"><a class="btn btn-primary" target="_blank" href="javascript:;">待补充</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--/#pricing-->



<section id="business-stats">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">项目作品统计</h2>
            <p class="wow fadeInDown">项目统计不定期更新 <br> 最新数据更新于[<a href="javascript:;"> 2016年8月10日</a>]</p>
        </div>

        <div class="row text-center">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="business-stats" data-digit="12423" data-duration="1000"></div>
                    <strong>技术文章撰写字数</strong>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                    <div class="business-stats" data-digit="3" data-duration="1000"></div>
                    <strong>服务器运营台数</strong>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                    <div class="business-stats" data-digit="4325" data-duration="1000"></div>
                    <strong>累计代码行数</strong>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="business-stats" data-digit="38612" data-duration="1000"></div>
                    <strong>文档规范撰写字数</strong>
                </div>
            </div>
        </div>
    </div>
</section><!--/#business-stats-->

<section id="our-team">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">团队成员</h2>
            <p class="wow fadeInDown">Arthas实验室是个有爱的集体，无论你技术高低，无论你外貌如何<br> 只要你爱这个团体，就能在这里留下你的影子<br/><br/><a class="btn btn-primary" href="#" >查看更多成员</a></p>
        </div>


        <div class="row text-center">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="team-img">
                        <img class="img-responsive" src="__PUBLIC__/images/team/01.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>某某某</h3>
                        <span>2011-2013年担任实验室首任负责人</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                    <div class="team-img">
                        <img class="img-responsive" src="__PUBLIC__/images/team/02.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>某某某</h3>
                        <span>2013-2014年担任实验室第二任负责人</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                    <div class="team-img">
                        <img class="img-responsive" src="__PUBLIC__/images/team/03.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>某某某</h3>
                        <span>2014-2015年担任实验室第三任负责人</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="team-img">
                        <img class="img-responsive" src="__PUBLIC__/images/team/04.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>某某某</h3>
                        <span>2015-2016年担任实验室第四任负责人</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!--/#our-team-->

<section class="testimonial-area" id="testimonial">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">实验室架构</h2>
            <p class="wow fadeInDown">我们根据互联网人才的需求以及陇东学院自身情况<br>并按照个人兴趣专业和爱好划分了三个方向的专业学习小组</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <blockquote style="color: #fff;">技术组培养各类互联网专业人才，包括前端开发、JavaWEB开发、PHP开发、嵌入式开发、Android开发等。</blockquote>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="__PUBLIC__/images/pic1.jpg" width="88" alt="client">
                        </div>
                        <div class="col-xs-9 half-gutter">
                            <h5>技术团队</h5>
                            <h6>软件编程 / 嵌入式开发 / 移动端开发</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <blockquote style="color: #fff;">宣传组培养各类互联网相关人才，对个人要求有一定审美能力，方向包括UI设计、美工、文案、策划、微信编辑等方向。</blockquote>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="__PUBLIC__/images/pic3.jpg"  width="88" alt="client">
                        </div>
                        <div class="col-xs-9 half-gutter">
                            <h5>微信团队</h5>
                            <h6>微信运营 / 微信开发 / 微信编辑</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <blockquote style="color: #fff;">运营组着重培养全方面人才，对个人要求具有较强外交能力，专业包括微信运营、推广策划、联络外交等。</blockquote>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="__PUBLIC__/images/pic2.jpg"  width="88" alt="client">
                        </div>
                        <div class="col-xs-9 half-gutter">
                            <h5>运营团队</h5>
                            <h6> 运营推广/ 运营策划 / 联络外交</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact-us">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">加入我们</h2>
            <p class="wow fadeInDown">我们不是商业机构，只是一个供志同道合的朋友一群研究技术的平台<br>我们需要更多的新鲜血液将Arthas实验室发扬光大</p>
        </div>
    </div>
</section><!--/#contact-us-->


<section id="contact">

    <div class="container">
        <div class="container contact-info">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="contact-form">
                        <h3>加入我们</h3>

                        <address>
                            陇东学院最好的专业学习环境<br>
                            全天24小时10M校园网免费提供独立账户<br>
                            无论你是否接触过对应专业<br>
                            无论你是大一大二甚至大三<br>
                            只要你有兴趣和坚持不懈的毅力<br>
                            各专业大牛学长学姐免费带你轻松入门<br>
                            多年行业开发经验的专业老师为你调优解难<br>
                            你还在等什么，发送你的简历给我们<br>
                            马上改变你的大学生涯
                        </address>
                        <h3>学习地点</h3>

                        <address>
                            地址：陇东学院逸夫楼810室Arthas网络实验室<br>
                            　　　陇东学院庆阳体育场创新创业基地210室
                        </address>
                    </div></div>
                <div class="col-sm-8 col-md-8">
                    <div class="contact-form">

                        <form id="main-contact-form" name="contact-form" method="post" action="__MODULE__/Index/jion">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="姓名（必填）" required>
                            </div>
                            <div class="form-group form-control" style="color:#999;">性别:
                                <input name="sex" type="radio" value="1"> 男
                                <input name="sex" type="radio" value="0"> 女
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" class="form-control" placeholder="电话（必填）" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="邮箱（必填，请认真填写邮箱，我们会邮件通知你面试地点和时间）" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="class" class="form-control" placeholder="学院年级专业（必填，例如信息工程学院14级计算机科学与技术专业）" required>
                            </div>
                            <div class="form-group">
                                <!--<input type="text" name="subject" class="form-control" placeholder="所选专业小组（必填，例如技术组）" required>-->
                                <select class="form-control" name="groups" id="">
                                    <option value="1">技术组</option>
                                    <option value="2">微信组</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="所选专业方向（必填，例如Java后端编程）" required>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" rows="8" placeholder="简历（必填，请简述你的个人信息，以及对所选方向的认识和过去有或现在的经历，无具体格式要求，字数和篇幅取决于你的诚意[300-1000字]）" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">发送简历</button>
                            <a href="javascript:;" style="color:#000" target="_blank"><button type="button" class="btn btn-secondary">其他方式</button></a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#bottom-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">Copyright &copy; 2011-2016 <a href="#" title="Arthas实验室">Arthas实验室</a> All rights reserved.</div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="{$login}" title="admin"><i class="fa fa-share-alt"></i></a>&nbsp;&nbsp;&nbsp;|</li>
                    <li><a href="#" title="Arthas实验室博客"><i class="fa fa-home"></i></a></li>
                    <li><a href="#" title="联系管理员"><i class="fa fa-qq"></i></a></li>
                    <li><a href="#" title="Arthas实验室 陇大大微信公众号"><i class="fa fa-wechat"></i></a></li>
                    <li><a href="#" title="Arthas GitHub"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</footer><!--/#footer-->

<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/mousescroll.js"></script>
<script src="__PUBLIC__/js/smoothscroll.js"></script>
<script src="__PUBLIC__/js/jquery.prettyPhoto.js"></script>
<script src="__PUBLIC__/js/jquery.isotope.min.js"></script>
<script src="__PUBLIC__/js/jquery.inview.min.js"></script>
<script src="__PUBLIC__/js/wow.min.js"></script>
<script src="__PUBLIC__/js/custom-scripts.js"></script>
</body>
</html>